/* here you can put your own css to customize and override the theme */
.HideField{
    display: none;
}
.ShowField{
    display: block;
}
.get_started {
    color: white !important;
    background: #1E51A4 !important;
    margin-top: 10px !important;
    font-weight: bold;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.header-mobile-button {
    display: none;
    clear: both;
    margin-bottom: 20px;
}

.header-mobile-button .btn {
    width: 145px;
    height: 50px;
    border: 1.25px solid #1E51A4;
    background-color: white;
    color: #1E51A4;
    font-weight: bold;
    font-size: 15px;
    border-radius: 3px !important;
}
.header-navigation-mobile-mode {
    display: none;
}

.header-navigation-mobile {
    padding-left: 25px;
    padding-right: 15px;
    position: fixed;
    width: 100%;
    height: 0px;
    left: 0;
    top: 0;
    background-color: white;
    overflow: hidden;
    transition-property: height;
    transition-duration: 0.4s;
}

.header-navigation-mobile.show {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
.header-navigation-mobile::-webkit-scrollbar { 
    display: none; 
}
.header-navigation-mobile {
    -ms-overflow-style: none;
}

@media (max-width: 1024px) {
    .hidden-pre-header {
        display: none;
    }
    .site-logo {
        padding-top: 22px;
        padding-bottom: 22px;
        margin-top: 0px;
    }
    .header-mobile-button {
        display: block;
    }
    .header-navigation-mobile-mode {
        display: block;
    }
}

@media (max-width: 350px) {
    .header-mobile-button .btn {
        width: 130px;
    }
}

.myFont {
    font-size: 15px;
    font-weight: bold;
}

.header-mobile-menu ul {
    list-style: none;
    padding-left: 0px;
    font-size: 15.5px;
    font-weight: bold;
}

.header-mobile-menu ul li {
    margin-bottom: 20px;
    margin-top: 25px;
}

.header-mobile-menu ul li a {
    color: #212933;
}

.header-mobile-menu ul.dropdown-menu {
    clear: both;
    width: calc(100% + 40px);
    position: initial;
    border-width: 0px;
    box-shadow: none;
    margin: 0px;
    background-color: #E1E7EC;
    margin-left: -25px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.header-mobile-menu ul.dropdown-menu::before, .header-mobile-menu ul.dropdown-menu::after {
    display: none !important;
}

.header-mobile-menu ul.dropdown-menu li {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 10px;
}

.header-mobile-menu ul.dropdown-menu li a {
    font-size: 15px;
    font-weight: bold;
    color: #212933;
}

.header-mobile-menu .dropdown-backdrop {
    display: none;
}

.noscroll {
    overflow: hidden;
}

.footer-text-header {
    font-size: 20.5px;
    font-family: Cardo;
}

.footer-text-inner {
    font-size: 15px;
}

.footer-text-inner a {
    font-size: 15px;
    color: #212933;
    text-decoration: underline;
}

.footer-text-inner a i {
    font-size: 20px;
    margin-right: 10px;
}

.footer .row div {
    margin-bottom: 20px;
}

@media (max-width: 991px) {
    .footer .row div {
        text-align: center;
    }
}

.first_part {
    overflow:hidden;
    margin-bottom: 60px;
}

.first_part_image {
    overflow: hidden;
    position: absolute;
    top: -260px;
    right: 0px;
    width: 60%;
    /* width: 730px; */
    /* margin-right: 239px; */
}
.first_part_image_mobile {
    display: none;
    width: 140%;
    margin-top: -50%;
    margin-left: -12%;
}
.first_part_title {
    margin-top: 40px;
}
@media (max-width: 800px)
{
    .first_part_image {
        display: none;
    }
    .first_part_image_mobile {
        display: block;
    }
    .first_part {
        height: unset;
    }
    .first_part_title {
        margin-top: 0px;
    }
}

.part_title {
    color: #1E51A4;
    font-size: 48px;
    font-weight: bold;
    font-family: Cardo;
}
.part_content {
    color: #212933;
    font-size: 17px;
    line-height: 35px;
}
.part_italic_content {
    color: #002A74;
    font-size: 17px;
    font-style: italic;
    font-weight: bold;
    line-height: 35px;
}

.btn-journey {
    font-size: 15px;
    font-weight: bold;
    color: #212933;
    border: 2px solid #6E7A8A;
    margin-top: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 3px !important;
}
.link_text a {
    font-size: 15px;
    color: #002A74;
    text-decoration: underline;
    font-weight: bold;
    position: relative;
    z-index: 9;
}

@media (max-width: 1024px) {
    .part_title {
        font-size: 40px;
        word-break: break-word;
    }
    .part_content {
        font-size: 16px;
    }
}
@media (max-width: 550px) {
    .part_content {
        font-size: 15px;
        line-height: 30px;
    }
}

.second_part {
    background-color: #C9EDF7;
}

.second_part_margin {
    margin-top: 60px;
}

.btn-more {
    width: 90%;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #212933;
    font-size: 15px;
    font-weight: bold;
    background-color: white;
    border-radius: 4px !important;
    box-shadow: 3px 5px rgba(0,0,0, 0.2);
}


.second_part_image1 {
    position: relative;
    z-index: 10;
}
.second_part_image2 {
    position: relative;
    top: -60px;
    z-index: 8;
    left: -15px;
}
.second_part_image3 {
    position: relative;
    left: 135px;
    top: -359px;
}

.second_part_images {
    margin-top: 40px;
    padding-left:40px;
    height:360px;
    max-width:500px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 420px) {
    .second_part_images {
        max-width: 350px;
        height: 240px;
    }
    .second_part_images img {
        width: 170px;
    }
    .second_part_image3 {
        left: 98px;
        top: -272px;
        z-index: 11;
    }
}

.third_part {
    background-color: white;
    background-image: url(../../../../static/image/Mask_Group_1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-bottom: 60px;
}


.part_number {
    font-size: 80px;
    color: rgb(97, 133, 191);
    font-weight: bold;
    font-family: Cardo;
    margin-top: -20px;
}

@media (max-width: 991px) {
    .third_part {
        background-image: unset;
    }
}

.fourth_part {
    background-color: #C9EDF7;
}

.fourth_part .container {
    padding-left: 60px; 
    padding-right: 60px;
}

@media (max-width: 440px) {
    .fourth_part_image {
        width: 90%;
    }
    .fourth_part .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .storyImage {
        width: 80%;
    }
}

.alterSelect {
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 500px;
    position: relative;
    z-index: 9;
    border: 1px solid #6E7A8A;
}
.alterBtn {
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(47, 122, 190);
    color: white !important;
    padding-top: 15px;
    padding-bottom: 15px;
    min-width: 150px;
    border-radius: 5px !important;
    position: relative;
    z-index: 9;
}

@media (max-width: 600px) {
    .alterSelect {
        width: 90%;
        min-width: unset;
    }
}

.loginForm {
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 500px;
    background-color: white;
    position: relative;
    z-index: 9;
}
.signForm{
    margin: auto;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 500px;
    position: relative;
    z-index: 9;
}

@media (max-width: 550px) {
    .loginForm {
        margin: auto;
        width: 95%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .signForm {
        padding-top: 20px;
        margin: auto;
        width: 95%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

.alterInput {
    border: 1px solid #6E7A8A;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 90%;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.alterInput::placeholder {
    font-style: italic;
}

.signupTopMargin {
    margin-top: 60px;
}

@media (max-width: 768px) {
    .signupTopMargin {
        margin-top: 20px;
    }
}

.sidebar-desktop {
    width: 300px;
    display: block;
    float: left;
    background-color: rgb(222, 227, 231);
}

.user-content {
    width: calc(90% - 300px);
    display: block;
    float: left;
    margin-left: 50px;
    margin-top: 80px;
    margin-bottom: 60px;
}

.sidebar-mobile {
    display: none;
    background-color: rgb(222, 227, 231);
}

.usersetting {
    background-color: #F6F7F8; 
    margin: 0;
    display: flex;
}

.usersettingBtn {
    margin-right: -5%;
}
.usersettingBtn:hover {
    background-color: #1E51A4;
}

.userform {
    max-width: 800px;
}

@media (max-width: 1024px) {
    .sidebar-desktop {
        display: none;
    }
    .user-content {
        width: 94%;
        margin-top: 40px;
        margin-left: 3%;
    }

    .sidebar-mobile {
        display: block;
    }
    
    .usersetting {
        display: block;
    }
    
    .usersettingBtn {
        margin-right: 0;
    }

    .userform {
        max-width: unset;
    }
}

.usersettingimage {
    float: right;
}

@media (max-width: 991px) {
    .usersettingimage {
        float: none;
        margin-bottom: 10px;
    }
}

.sidbar-menu-title {
    font-size: 16px;
    font-weight: bold;
    color: black;
    padding-top: 25px;
    padding-bottom: 25px;
}

.sidebar-menu-open {
    overflow-y: auto;
    position: absolute;
    left: 0;
    width: 100%;
    height: calc(100% - 276px);
    background-color: rgb(222, 227, 231);
    z-index: 998;
    /* display: none; */
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 600ms, visibility 600ms;
            transition: opacity 600ms, visibility 600ms;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* IE 10+ */
}
.sidebar-menu-open::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
}
.sidebar-menu-open-show {
    display: block;
    opacity: 1;
    visibility: visible;
}
.sidebar-menu-open .list-group-item {
    background-color: rgb(222, 227, 231);
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    padding-left: 50px;
}
.sidebar-menu-open .list-group-item.active {
    background-color: #2F7ABE;
}
.sidebar-menu-open .list-group-item.active a{
    color: white;
    font-weight: bold;
}
.sidebar-menu-open .list-group-item a{
    color: #212933;
    font-size: 16px;
}


.userstep {
    position: absolute;
    left: 720px;
    top: 0px;
}

@media (max-width: 1331px) {
    .userstep {
        left: unset;
        right: 0px;
    }
}

@media (max-width: 991px) {
    .userstep {
        top: -50px;
    }
}

.infoSubTitle {
    font-size: 25px;
    font-family: Cardo;
    font-weight: bold;
    color: #212933;
}

.alterCheckBox {
    font-size: 17px;
}

.alterCheckBox input {
    width: 20px;
    height: 20px;
    margin-left: -35px;
    position: relative;
    top: 5px;
}
.alterCheckBox span {
    margin-left: 11px;
}
.checkbox-list {
    margin-left: 35px;
}

.alterRadioBox {
    font-size: 17px;
    margin-left: 8px;
}
.alterRadioBox input {
    width: 20px;
    height: 20px;
    position: relative;
    top: -2px;
    margin-left: -30px !important;
}
.alterRadioBox span {
    margin-left: -8px;
}

.alterTextArea {
    width: 100%;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.alterTextArea::placeholder {
    font-style: italic;
    font-size: 17px;
}


.innerMarginLeft_First {
    margin-left: 35px;
}

@media (max-width: 991px) {
    .innerMarginLeft {
        margin-left: 35px;
    }
}

.alterFile {
    background-color: white;
}
.alterFile::-webkit-file-upload-button {
    visibility: hidden;
}
.alterFile::before {
    content: 'Click to upload an obituary file';
    background: white;
    -webkit-user-select: none;
}

.alterDocument {
    background-color: white;
}
.alterDocument::-webkit-file-upload-button {
    visibility: hidden;
}
.alterDocument::before {
    content: ' Click to upload a documents  ';
    background: white;
    -webkit-user-select: none;
}